.content {
	padding-top: 60px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	transition: left 0.25s ease;
}

@media screen and (max-width: 768px) {
	.content {
		left: 0;
		max-width: 100vw;
		position: static;
		padding-top: 20px;
		transition: transform 0.25s ease;
	}
}

.markdown-section {
	margin: 0 auto;
	max-width: 80%;
	padding: 30px 15px 40px;
	position: relative;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
	color: #2c3e50;
	font-weight: 600;
}

.markdown-section a {
	color: var(--text-color, #42b983);
	font-weight: 600;
}

.markdown-section h1 {
	font-size: 2rem;
	margin: 0 0 1rem;
}

.markdown-section h2 {
	font-size: 1.75rem;
	margin: 45px 0 0.8rem;
}

.markdown-section h3 {
	font-size: 1.3rem;
	margin: 40px 0 0.6rem;
}

.markdown-section h4 {
	font-size: 1.25rem;
}

.markdown-section h5 {
	font-size: 1rem;
}

.markdown-section h6 {
	color: #777;
	font-size: 1rem;
}

.markdown-section figure,
.markdown-section p {
	margin: 1.2em 0;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
	line-height: 1.6rem;
	word-spacing: 0.05rem;
}

.markdown-section ol,
.markdown-section ul {
	padding-left: 1.5rem;
}

.markdown-section blockquote {
	border-left: 4px solid var(--text-color, #42b983);
	color: #858585;
	margin: 2em 0;
	padding-left: 20px;
}

.markdown-section blockquote p {
	font-weight: 600;
	margin-left: 0;
}

.markdown-section iframe {
	margin: 1em 0;
}

.markdown-section em {
	color: #7f8c8d;
}

.markdown-section code,
.markdown-section output:after,
.markdown-section pre {
	font-family: Roboto Mono, Monaco, courier, monospace;
}

.markdown-section code,
.markdown-section pre {
	background-color: #f8f8f8;
}

.markdown-section output,
.markdown-section pre {
	margin: 1.2em 0;
	position: relative;
}

.markdown-section output,
.markdown-section pre > code {
	border-radius: 2px;
	display: block;
}

.markdown-section output:after,
.markdown-section pre > code {
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
}

.markdown-section code {
	border-radius: 2px;
	color: #e96900;
	margin: 0 2px;
	padding: 3px 5px;
	white-space: pre-wrap;
}

.markdown-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
	font-size: 0.8rem;
}

.markdown-section pre {
	padding: 0 1.4rem;
	line-height: 1.5rem;
	overflow: auto;
	word-wrap: normal;
}

.markdown-section pre > code {
	color: #525252;
	font-size: 0.8rem;
	padding: 2.2em 5px;
	line-height: inherit;
	margin: 0 2px;
	max-width: inherit;
	overflow: inherit;
	white-space: inherit;
}

.markdown-section output {
	padding: 1.7rem 1.4rem;
	border: 1px dotted #ccc;
}

.markdown-section output > :first-child {
	margin-top: 0;
}

.markdown-section output > :last-child {
	margin-bottom: 0;
}

.markdown-section code:after,
.markdown-section code:before,
.markdown-section output:after,
.markdown-section output:before {
	letter-spacing: 0.05rem;
}

.markdown-section output:after,
.markdown-section pre:after {
	color: #ccc;
	font-size: 0.6rem;
	font-weight: 600;
	height: 15px;
	line-height: 15px;
	padding: 5px 10px 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	content: attr(data-lang);
}
